body{
	font-family: Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	line-height: 1.5;
	font:15px/1.5;
	background-color:#cccccc;
}

/* Global Components */
.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}

ul{
	margin:0;
	padding:0;
}

.send_message_button{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background-color:#35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}

/* Header */
header{
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}


header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/* Showcase / Welcome Section */
#showcase{
	min-height:400px;
	background:url('../images/showcase.jpg') no-repeat 0 -400px;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
}

#showcase p{
	font-size:20px;
}

/* Biography Section */
#boxes{
	color:#f4f4f4;
	background-color:#cccccc;
	/*background-image:url("../images/box_background.jpg");*/
	background-repeat:no-repeat;
	background-size: 150%;
	border-top:#e8491d 3px solid;
}

#boxes .box{
	text-align:center;
	float:left;
	width:30%;
	padding:2px;
}

#boxes .box img{
	width:250px;
}

#boxes li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

.box ul{
	list-style-type: :none;
	padding:0;
	margin:0;
}

.box img{
	float:left;
}

.box h3{
	float:center;
	font-size:16px;
}

.box ul li{
	display:table-row;
}

.box ul li img{
	margin:0 0 10px 0;
	padding: 2px;
	vertical-align: center;
}

/* Footer Components */

.footer{
	width:100%;
	height: 308px;
	/*background-color: #35424a;*/
	background-color: #1E1E1E;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border-top:#e8491d 4px solid;
	padding:0;
}


.footerText{
	width:1000px;
	margin: 0 auto;
	height: 100%;
}

.footerText h3{
	color:#ffffff;
	text-align: center;
}

.footerText .contactDetails{
	position:absolute;
	left:50px;
	width:400px;
}

.footerText .copyright{
	position:absolute;
	left:50px;
	width:600px;
}

aside#sidebar{
	float:right;
	width: 30%;
	margin-top: 5px;
}

.mail_image{
	display:inline;
	position:absolute;
	left:650px;
	margin-top: 65px;
	width:350px;
	height:75px;
}

.contact_form{
	margin-top: 2px;
	margin-bottom: 5px;
}

.contact_form label{
	color:#ffffff;
}

aside#sidebar .contact_form input, aside#sidebar .contact_form textarea{
  	padding:5px;
}

.footerText {
	float:left;
  	width:65%;
}

.copyright{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	padding: 20px 0 0 0;
	float: left;
}

.copyright p{
	float:left;
}

#contact{
	color:#ffffff;
}

 .contact_form textarea{
    height:60px;
	width:300px;
	padding:4px;
	margin-bottom: 14px;
  }

 #message form input[type="email"],#message form input[type="text"] {
    height:20px;
	width:300px;
	padding:4px;
	margin-bottom: 6px;
  }

.footerText .contactDetails{
	float:left;
	margin-left: 0;
	padding-left: 0;
}

.footerText .contactDetails ul{
	height: :60px;
	padding:10px 0 0 0;
	list-style-type: none;
}

.send_mail_button{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:5px;
	padding-right:5px;
	color:#000000;
	width:312px;
	border:#cccccc 3px solid;
}

.footerText .contactDetails ul li{
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	padding-right: 40px;
	color:#ffffff;
}

/* Media Queries */
@media(max-width:768px){
	header #branding,
	header nav,
	header nav li,
	.footer #footer_send_message,
	aside #sidebar,
	#boxes .box{
		float:none;
		text-align:center;
		width:100%;
	}

	header{
		padding-bottom: :20px;
	}

	#showcase h1{
		margin-top:40px;
	}

	#send_mail button{
		display:block;
		width:100%;
	}

	/*#footer_send_message form input{
		width:100%;
		margin-bottom:5px;
	}
	
	#footer_send_message form input[type="text"]{
		width:100%;
		margin-bottom:5px;
	}

	#footer_send_message form input[type="email"]{
		width:100%;
		margin-bottom:5px;
	}*/

	#footer_send_message form input, #footer_send_message form textarea{
		width:100%;
		margin-bottom:5px;
	}
}